.layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #777;
}

.cabecalho h1 {
    font-size: 32px;
    margin-bottom: 2.5px;
    font-weight: bold;
}

.cabecalho a {
    background-color: crimson;
    padding: 5px 12px;
    border-radius: 5px;
    align-content: center;
    font-size: 18px;
}

.conteudo {
    padding: 25px;
    height: 100%;
}